#player1{
    float: left;
    margin-left: 20px;
    color: #F1F0E8;
}

#player2{
    float: right;
    margin-right: 40px;
    color: #F1F0E8;
}

.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #F1F0E8;
}

body {
    background-color: #96B6C5;
}

/* .par {
    color: #EEE0C9;
} */