h1{
    background-color: rgba(255, 255, 255, 0.676);
    color: black;
    padding-bottom: 20px;
    padding-top:15px;
    padding-left: 60px;
    padding-right: 80px;
    font-family: sans-serif;
}
.pembungkus{
    background-color:skyblue;
    background-image: url(bgbaru.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
/* #player1{
    float: left;
    margin-left: 20px;
}

#player2{
    float: right;
    margin-right: 40px;
} */

.winner{
    background-color: rgba(0, 0, 0, 0.676);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.petunjuk{
    height: 500px;
    width: 900px;
    border-radius: 20px;
    background-color: rgb(194, 194, 194);
    position:fixed;
    padding: 0px 100px;
    background-image: url(bgPetunjuk.png);
}

li {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 850;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 85px;
    font-family: sans-serif;  
    font-weight: 900;  
}

#mulai{
    display: flex;
}

#oke {
    position: absolute;
    top: 65%;
    left: 40%;
}

#kerupuk1{
    height: 200px;
    position: absolute;
    display: flex;
    top: 360px;
    left: 385px;
}

#kerupuk2{
    height: 200px;
    position: absolute;
    display: flex;
    top: 360px;
    left: 920px;
}

#player1{
    float: left;
    margin-left: 100px;
    font-size:70px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 20px;
    padding: 0px 100px;
}

#player2{
    float: right;
    margin-right: 100px;
    font-size: 70px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-radius: 50%;
    margin-top: 20px;
    padding: 0px 100px;
}

#countdown {
        font-size: 80px;
        position: absolute;
        font-family: sans-serif;
        color: black;
}